.banner{
    background: linear-gradient(90.00deg, rgba(1.251827359199524, 49.64006805419922, 34.606834411621094, 1),rgba(0, 103, 71, 1) 50%,rgba(1, 50, 35, 1) 100%);
}
.box-shadow{
box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
background: var(--White, rgba(255, 255, 255, 1));
}

.copy{
    box-sizing: border-box;
border: 1px solid var(--Stroke, rgba(212, 214, 213, 1));
border-radius: 8px;
background: var(--White, rgba(255, 255, 255, 1));
}
